<h1> Coupon Form </h1>
<%=form_tag coupons_path do %>
<h1> Coupons form </h1>

<h3> coupon code </h3><br> 
<%= text_field_tag :"coupon[coupon_code]"%> <br>
<h3> coupon store </h3><br>
<%= text_field_tag :"coupon[store]"%><br>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= submit_tag "Submit Coupon"%>
</form>
<%end%>